.headingCSS {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
}

.LabelCSS {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
}

.ButtonCSS1 {
    margin-top: 35px;
    border-radius: 5px;
    background-color: darkred;
    color: white;
    border: none;
    font-family: 'Times New Roman', Times, serif;
}

.ButtonCSS2 {
    margin-top: -10px;
    border-radius: 5px;
    background-color: darkred;
    color: white;
    border: none;
    font-family: 'Times New Roman', Times, serif;
}


*:focus {
    outline : none
}

[type="submit"]:focus {
    outline: none;
}

[type="text"],[type="email"]{
    border-radius: 5px;
    height: 30px;
    border: none;
}

[type="submit"] {
    border-radius: 5px;
    background-color: darkred;
    color: white;
    border: none;
    font-family: 'Times New Roman', Times, serif;
}

.dropdownCSS {
    height: 32px;
}