.signInBar {
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 5px;
    background-color: #d84e55;
    border-radius: 5px;
}

.signInBarLabel {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
}

.signInButton {
    margin-top : 32px;
    background-color: ghostwhite;
    color: crimson;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 5px;
}

*:focus {
    outline : none
}

[type="submit"]:focus {
    outline: none;
}

[type="text"],[type="email"]{
    border-radius: 5px;
    height: 30px;
    border: none;
}

[type="submit"] {
    border-radius: 5px;
    background-color: darkred;
    color: white;
    border: none;
}